/************** RENKLER ***********/
h1 {
    color: rgb(61, 61, 61);
}
h3 {
    color: darkblue;
}
.text-red {
    color: red;
}
.text-blue {
    color: blue;
}
.text-aqua {
    color: aqua;
}
.text-link {
    color: darkblue;
}
/************** ÖLÇÜLER ***********/
.fs-small {
    font-size: 14;
}
.fs-medium {
    font-size: 20;
}
.fs-large {
    font-size: 30;
}
.style {
    width: 30; height: 30;
}
/************** MERKEZ ***********/
.sola{
    margin-right: 20px;
    font-size: large;
 }
 .orta{
    font-size: large;
 }
 .sag{
    margin-left: 20px;
    font-size: large;
 }
.center {
    text-align: center;
}
